@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700italic,400italic,700,300italic,300);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
  background-color: #FFFFFF;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 2rem 0; }

p {
  font-family: "Merriweather", serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 0; }

a {
  color: #000000; }
  a:hover {
    color: #3B9BEE; }
  a.active {
    color: #3B9BEE; }

header {
  width: 100%;
  background-color: #000000;
  padding: 0;
  margin: 0; }
  header img {
    width: 100%;
    margin: 0 auto; }

.navbar {
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 0;
  border-bottom: 2px solid #D2D2D2; }
  .navbar ul li a {
    padding: 24px 22px; }
    .navbar ul li a.donateNow {
      color: #FFFFFF;
      background-color: #3B9BEE;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: bold;
      margin-top: 14px;
      padding: 10px 20px;
      border-radius: 2px;
      text-align: center; }
      .navbar ul li a.donateNow:hover {
        background-color: #368BD6; }

.articlesSection .col-md-6 {
  padding: 0; }
.articlesSection .articleRight {
  position: relative; }
  .articlesSection .articleRight:after, .articlesSection .articleRight::after {
    position: absolute;
    top: 10.85rem;
    left: -3rem;
    content: '';
    width: 0;
    height: 0;
    border-top: 3rem solid transparent;
    border-bottom: 3rem solid transparent;
    border-right: 3rem solid #FFFFFF; }
.articlesSection .articleLeft {
  position: relative; }
  .articlesSection .articleLeft:after, .articlesSection .articleLeft::after {
    position: absolute;
    top: 10.85rem;
    left: 100%;
    content: '';
    width: 0;
    height: 0;
    z-index: 10;
    border-top: 3rem solid transparent;
    border-bottom: 3rem solid transparent;
    border-left: 3rem solid #FFFFFF; }
.articlesSection .articleImg {
  background-size: cover;
  background-position: center 25%;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  height: 28rem; }
  .articlesSection .articleImg:hover {
    opacity: .7; }
  .articlesSection .articleImg.one {
    background-image: url(img/hawk.jpg); }
  .articlesSection .articleImg.two {
    background-image: url(img/fireDept.jpg); }
  .articlesSection .articleImg.three {
    background-image: url(img/patient43.jpg); }
  .articlesSection .articleImg.four {
    background-image: url(img/owl.jpg); }
.articlesSection .articlePreview {
  height: 28rem;
  padding: 6rem 6rem; }
  .articlesSection .articlePreview h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase; }
  .articlesSection .articlePreview p.readMore {
    margin-top: 2.5rem;
    text-align: right;
    font-style: italic;
    text-decoration: underline; }

.about {
  padding: 2rem;
  margin: 2rem 0; }
  .about .licensed {
    padding: 3rem;
    background-color: #D2D2D2;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    border-radius: 0.5rem; }
    .about .licensed p {
      font-family: "Montserrat", sans-serif; }

.mission {
  width: 100%;
  padding: 12rem;
  margin: 2rem 0;
  color: #FFFFFF;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9)), url(img/owl.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; }
  .mission h1 {
    color: #FFFFFF;
    font-size: 5rem;
    text-align: right; }
  .mission p {
    font-size: 2rem;
    line-height: 4rem; }

.programs {
  padding: 2rem;
  margin: 2rem 0; }
  .programs p.caption {
    text-align: center;
    font-style: italic; }
    .programs p.caption::before {
      content: "- "; }
    .programs p.caption::after {
      content: " -"; }
  .programs .programOne, .programs .programTwo, .programs .programThree {
    height: 24rem; }
  .programs .programOne {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(img/patient43.jpg);
    background-size: cover;
    background-position: top center; }
  .programs .programTwo {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(img/hawk.jpg);
    background-size: cover;
    background-position: top center; }
  .programs .programThree {
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(img/owl.jpg);
    background-size: cover;
    background-position: top center; }

footer {
  border-top: 2px solid #D2D2D2;
  padding: 2rem 0;
  text-align: center; }

/*# sourceMappingURL=custom.css.map */
