// Serif font
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700italic,400italic,700,300italic,300);

// Sans Serif font
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

// SCSS variables
// ==================

// Fonts
$serif: 'Merriweather', serif;
$sans: 'Montserrat', sans-serif;
$medLgFont: 2rem;
$medFont: 1.5rem;

// Colors
$white: #FFFFFF;
$black: #000000;
$gray: #D2D2D2;
$main: #3B9BEE;
$mainDark: #368BD6;

// Article spacing 
$artPad: 3rem;

body {
  background-color: $white;
  height: 100%;
}

a {
  color: $black;
  &:hover {
    color: $main;
  }
  &.active {
    color: $main;
  }
}

header {
  width: 100%;
  background-color: $black;
  padding: 0;
  margin: 0;
  img {
    width: 100%;
    margin: 0 auto;
  }
}

.navbar {
  font-family: $serif;
  font-style: italic;
  font-size: $medFont;
  margin-bottom: 0;
  border-bottom: 2px solid $gray;
  ul li a {
    padding: 24px 22px;
    &.donateNow {
      color: $white;
      background-color: $main;
      font-family: $sans;
      font-style: normal;
      font-weight: bold;
      margin-top: 14px;
      padding: 8px 10px;
      border-radius: 2px;
      text-align: center;
      &:hover {
        background-color: $mainDark;
      }
    }
  }
}

.articlesSection {
  .col-md-6 {
    padding: 0;
  }
  .articleRight {
    position: relative;
    &:after, &::after {
      position: absolute;
      top: 10.85rem;
      left: -$artPad;
      content: '';
      width: 0; 
      height: 0;
      border-top: $artPad solid transparent;
      border-bottom: $artPad solid transparent; 

      border-right: $artPad solid $white; 
    }
  }
  .articleLeft {
    position: relative;
    &:after, &::after {
      position: absolute;
      top: 10.85rem;
      left: 100%;
      content: '';
      width: 0; 
      height: 0;
      z-index: 10;
      border-top: $artPad solid transparent;
      border-bottom: $artPad solid transparent; 

      border-left: $artPad solid $white; 
    }
  }
  .articleImg {
    background-size: cover;
    background-position: center center;
    
    height: 28rem;
    &.one {
      background-image: url(/img/hawk.jpg);
    }
    &.two {
      background-image: url(/img/fireDept.jpg);
    }
  }
  .articlePreview {
    height: 28rem;
    padding: 6rem 6rem;
    h3 {
      font-family: $sans;
      font-weight: bold;
      font-size: $medLgFont;
      text-transform: uppercase;
      
      margin: 0 0 2rem 0;
    }
    p {
      font-family: $serif;
      font-weight: normal;
      font-size: $medFont;
      line-height: 2.5rem;
      
      margin: 0;
      &.readMore {
        margin-top: 2.5rem;
        text-align: right;
        font-style: italic;
        text-decoration: underline;
      }
    }
  }
}